<template>
  <div class="h-screen bg-gray-400 grid place-items-center">
    <!-- Card -->
    <div
      class="w-full max-w-xs bg-gray-800 shadow-lg rounded-2xl px-8 pt-6 pb-8 mb-4"
    >
      <h1 class="text-center text-white font-semibold mb-8">Bienvenue !</h1>
      <div class="mb-6">
        <input
          placeholder="Email"
          type="email"
          v-model="email"
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded-full w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none type='text'"
        />
      </div>
      <div class="mb-4">
        <input
          placeholder="Mot de passe"
          type="password"
          v-model="password"
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded-full w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none"
        />
      </div>
      <div class="mb-8 text-right">
        <a href="#" class="underline text-white hover:text-blue-500 text-sm"
          >Mot de passe oublié ?</a
        >
      </div>
      <div class="mb-6">
        <button
          class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
          @click="login"
        >
          Connexion
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "login",
  data: {
    email: "",
    password: "",
  },
  methods: {
    login: function () {
      this.$router.push({ path: "Home" });
      // if (this.email && this.password) {
      //   this.$router.push({ path: "Home" });
      // }
    },
  },
};
</script>
