<template>
  <div>
    <nav class="flex items-center justify-between flex-wrap bg-blue-500 p-6">
      <div class="flex items-center flex-no-shrink text-white mr-6">
        <img width="54" height="54" src="/images/icon.png" />
        <span class="font-semibold text-xl tracking-tight">Nuntius</span>
      </div>
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow"></div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          @click="logout"
          class="h-6 w-6 text-white"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
          />
        </svg>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "home",
  methods: {
    logout: function () {
      this.$router.replace({ path: "/" });
    },
  },
};
</script>
